
.fondo3{
    background-color: rgba(31,31,31, 0.7);
    top:0%;
    right: 0%;
    left: 0%;
    bottom: 0%;
    display: flex;
    position: fixed;
    visibility: visible;
    justify-content: center;
}

.fondo4{
background-color: aqua;
text-align: 350px;
margin-top: 100px;
width: 300px;
}




